#errorpage {
    position: relative;
    height: 100vh;
}
  
#errorpage .error-view {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.error-view {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}
  
.error-view .error-info {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
}
  
.error-number {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #d1a220;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.error-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}
  
.error-view a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #d1a220; 
    text-transform: uppercase;
    padding: 13px 23px;
    background: #211b19; 
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
  
.error-view a:hover {
    color: #fff;
    background: #d1a220;
}
  
@media only screen and (max-width: 767px) {
    .error-view .error-info h1 {
      font-size: 148px;
    }
}
  
@media only screen and (max-width: 480px) {
    .error-view .error-info {
      height: 148px;
      margin: 0px auto 10px;
    }

    .error-view .error-info h1 {
      font-size: 86px;
    }

    .error-view .error-info h2 {
      font-size: 16px;
    }

    .error-view a {
      padding: 7px 15px;
      font-size: 14px;
    }
}